BALLERSCLUB_ENABLED=true
BALLERSCLUB_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?gid=0
BALLERSCLUB_PHONE=491234567890
BALLERSCLUB_EMAIL=contact@example.org
BALLERSCLUB_CONTACT_NAME=Kontaktperson
BALLERSCLUB_DAYS_AHEAD=21
# Nur bei mehreren exportierten Tabs erforderlich:
# BALLERSCLUB_SHEET_NAME=Tabellenblatt1
